<?xml version="1.0"?>

<!--******************************* -->
<!--DEV app.config -->
<!--******************************* -->

<configuration>
  <configSections>
    <!--For MicroMES2-->
    <sectionGroup name="GENLSYS.MES.WCF" type="GENLSYS.MES.WCF.Common.ConfigHandler,GENLSYS.MES.WCF">
      <section name="Logging" type="GENLSYS.MES.WCF.Common.ConfigHandler,GENLSYS.MES.WCF"/>
      <section name="Customer" type="GENLSYS.MES.WCF.Common.ConfigHandler,GENLSYS.MES.WCF"/>
      <section name="Application" type="GENLSYS.MES.WCF.Common.ConfigHandler,GENLSYS.MES.WCF"/>
      <sectionGroup name="Connections" type="xxx">
        <section name="MES_ConnectionString" type="GENLSYS.MES.WCF.Common.ConfigHandler,GENLSYS.MES.WCF"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!--For MicroMES2-->
  <GENLSYS.MES.WCF>
    <Logging level="Admin" logfilesize="10MB" logfilename="GENLSYS.MES.log"/>
    <Customer customername="BCD"/>
    <Application applicationname="MicroMES WCF - Inspection"
                 currentrevision="2.3.1"
                 environmentname="Development"
                 downloadurl=""/>
    <Connections>
      <!--     <MES_ConnectionString DB_Type="MSSql" DB_ConnectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=mesdb2;Integrated Security=True"/>-->
      <!--  <MES_ConnectionString DB_Type="MSSql" DB_ConnectionString="Data Source=GEORGE-PAD\MYSQLSERVER;Initial Catalog=mes001;User ID=sa;Password=123456"/>-->
      <MES_ConnectionString DB_Type="MSSql" DB_ConnectionString="Data Source=localhost\sqlexpress;Initial Catalog=mesdb;User ID=sa;Password=sa"/>
      <!--<MES_ConnectionString DB_Type="MSSql" DB_ConnectionString="Data Source=192.168.0.99;Initial Catalog=mesdb;User ID=sa;Password=Areuready!"/>-->
      <!--<MES_ConnectionString DB_Type="MSSql" DB_ConnectionString="Data Source=localhost;Initial Catalog=mesdb;Integrated Security=True"/>-->

    </Connections>
  </GENLSYS.MES.WCF>

  <system.web>
    <sessionState mode="StateServer" timeout="60" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="14400"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Default" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="GENLSYS.MES.WCF.DefaultServiceBehavior"
        name="GENLSYS.MES.WCF.wsMDL">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default"
          contract="GENLSYS.MES.WCF.IwsMDL" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="GENLSYS.MES.WCF.DefaultServiceBehavior"
        name="GENLSYS.MES.WCF.wsSEC">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default"
          contract="GENLSYS.MES.WCF.IwsSEC" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="GENLSYS.MES.WCF.DefaultServiceBehavior"
        name="GENLSYS.MES.WCF.wsSYS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default"
          contract="GENLSYS.MES.WCF.IwsSYS" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="GENLSYS.MES.WCF.DefaultServiceBehavior"
        name="GENLSYS.MES.WCF.wsWHS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default"
          contract="GENLSYS.MES.WCF.IwsWHS" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="GENLSYS.MES.WCF.DefaultServiceBehavior"
        name="GENLSYS.MES.WCF.wsINP">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default"
          contract="GENLSYS.MES.WCF.IwsINP" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="GENLSYS.MES.WCF.DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
