<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="DefaultBehavior">
            <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
        <wsHttpBinding>
          <binding name="wsHttpBinding_Default" closeTimeout="00:10:00"
            openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binding>
        </wsHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:1111/wsSYS.svc" binding="wsHttpBinding"
                bindingConfiguration="wsHttpBinding_Default" contract="wsUCSYS.IwsSYS"
                name="WSHttpBinding_IwsSYS">
                <identity>
                    <userPrincipalName value="ZXLNET\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>