<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MESEntities" connectionString="metadata=res://*/MES.csdl|res://*/MES.ssdl|res://*/MES.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=George-pad;Initial Catalog=mesdb;Persist Security Info=True;User ID=sa;Password=1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>